.area-form {
    padding: 20px;
    max-width: 400px;
    margin: auto;
    background-color: #f9f9f9;
    border-radius: 8px;
    font-family: Arial, sans-serif;
  }
  
  .form-title {
    font-size: 20px;
    color: #333;
    margin-bottom: 20px;
    text-align: center;
  }
  
  .form-group {
    margin-bottom: 20px;
  }
  
  .input-field {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }
  
  .checkbox-group {
    margin-bottom: 20px;
  }
  
  .checkbox-title {
    font-size: 16px;
    margin-bottom: 10px;
    color: #007BFF;
  }
  
  .checkbox-label {
    display: block;
    margin-bottom: 5px;
    font-size: 14px;
    color: #333;
  }
  
  .checkbox-input {
    margin-right: 10px;
  }
  
  .submit-button {
    background-color: red;
    color: white;
    font-size: 16px;
    padding: 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    width: 100%;
  }
  
  .submit-button:hover {
    background-color: darkred;
  }